Morettin, P; Bussab, W. 2017. Estatística Básica - 9a ed.pdf
Chein, F. 2019. Modelos de regressão linear aplicados às politicas publicas.pdf
Hoffmann, R. 2016. Análise de regressão - uma introdução à econometria.pdf
